<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li>
		<!--li class="{{ page.blog }}"><a href="/blog" title="Notes">Blog</a></li-->
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<div>
	<img src='img/logoSP.jpg' height = "20" style="float:left; max-height: 100%"/> 
	<h3 class="text-muted" style="position:relative; top:0.5"><a href="/">Srijan Pabbi</a></h3>
	</div>
</div> <!-- /header -->
