<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li>
		<!--li class="{{ page.blog }}"><a href="/blog" title="Notes">Blog</a></li-->
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<div>
		<img src="/img/logoSP.jpg" style="float: left;padding: 8px 0px 0px 0px;height: 30px">
		<h3 class="text-muted" style="top: 0px; padding: 0px 0px 0px 30px"><a href="/"> Srijan Pabbi</a></h3>
	</div>
</div> <!-- /header -->
