<!-- javascript at the end of the doc so page loads faster -->
<!--script src="//code.jquery.com/jquery.js"></script-->
<!--script src="/js/bootstrap.min.js"></script-->
<!--script src="/js/library.js"></script-->
<script src="//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

